.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-start {
    display: flex;
    align-items: flex-start;
}

.flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}
